.circle-node {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    overflow: visible;
}

.circle-node-text {
    overflow-wrap: break-word;
    font-size: 6px;
    text-align: center;
    position: relative;
    top: 10px;

}
.unused-example-text {
    font-size: 6em;
    border: 1px solid transparent;
    text-align: center;
    width: 15vw;
    position: relative;
    left: calc(-7.5vw + 50%);
}

/* Node Styles */
/* ----------- */
.ConceptNode {
    background: rgba(11, 30, 48, 0.25);
    border: 2px solid rgba(11, 30, 48, 0.5);
    padding: 10px;
}

.NumberNode {
    background: rgba(22, 63, 97, .19);
    border: 2px solid rgba(22, 63, 97, .38);
    padding: 10px;
}

.PredicateNode {
    background: rgba(122, 181, 230, .45);
    border: 2px solid rgba(122, 181, 230, .90);
    padding: 10px;
}
.AnyNode {
    background: rgba(52, 147, 224, .44);
    border: 2px solid rgba(52, 147, 224, .88);
    padding: 10px;
}

.AnchorNode {
    background: rgba(51, 76, 97, .19);
    border: 2px solid rgba(51, 76, 97, .38);
    padding: 10px;
}

.ProcedureNode {
    background: rgba(40, 113, 173, .34);
    border: 2px solid rgba(40, 113, 173, .68);
    padding: 10px;
}

/* Link Styles */
/* ----------- */
.OrderedLink {
    background: rgba(27, 97, 26, 0.19);
    border: 2px solid rgba(27, 97, 26, 0.38);
}

.UnorderedLink {
    background: rgba(129, 250, 127, .49);
    border: 2px solid rgba(129, 250, 127, .98);
}

.EvaluatableLink {
    background: rgba(63, 224, 61, .44);
    border: 2px solid rgba(63, 224, 61, .88);
}

.NumericOutputLink {
    background: rgba(172, 222, 171, .43);
    border: 2px solid rgba(172, 222, 171, .87);
}

.TypeInputLink {
    background: rgba(49, 173, 47, .34);
    border: 2px solid rgba(49, 173, 47, .68);
}
.TypeOutputLink {
    background: rgba(40, 113, 173, .34);
    border: 2px solid rgba(40, 113, 173, .68);
}
