.triangle-node {
    background-color: "#9ca8b3";
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 50px 80px 50px;
    border-color: transparent transparent #9ca8b3 transparent;
    float: left;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.triangle-node-text {
    text-align: center;
    top: 40px;
    left: -23px;
    position: relative;
    width: 46px;
    height: 46px;
    margin: 0px;
}

.circle-node {
    width: 35px;
    height: 35px;
    padding: 0px;
    overflow: visible;
    border: 1px solid black;
    border-radius: 30px;
}

.circle-node-text {
    overflow-wrap: break-word;
    font-size: 6px;
    text-align: center;
    position: relative;
    top: 10px;


}
.unused-example-text {
    font-size: 6em;
    border: 1px solid transparent;
    text-align: center;
    width: 15vw;
    position: relative;
    left: calc(-7.5vw + 50%);


}